<div class="ekart--product--container">
  <!-- <img [src]="product.pImage" alt="Iphone" />
  <p>Name:{{ product.name }}</p>
  <p>Price: {{ "$" + product.price }}</p>
  <p>Color:{{ product.color }}</p>
  <p>
    Discounted Price:
    {{ getDiscountedPrice().toFixed(2) }}
  </p>
  <p>
    {{
      product.inStock > 0
        ? "Only  " + product.inStock + " left"
        : "Not in Stock"
    }}
  </p>
  <button (click)="decrementCartValue()">-</button>
  <span>{{ addToCart }}</span>
  <button (click)="incrementCartValue()">+</button> -->
  <app-search (SearchTextChanged)="onSearchTextChanged($event)"> </app-search>
  <app-product-list [searchText]="searchText"></app-product-list>
  <!-- <div *ngFor="let item of stringOfList">
    <p>current element is:{{ item }}</p>
  </div> -->
</div>
