<app-filter
  [all]="totalProducts"
  [inStock]="totalProductsInStock"
  [outOfStock]="totalProductsOutofStock"
  (defaultRadioButtonselectedChanged)="onFilterChanged($event)"
></app-filter>

<div class="ekart--products--container">
  <!-- selectedRadioButton == 'all' ||
        prod.is_in_inventory.toString() === selectedRadioButton -->
  <ng-container *ngFor="let prod of products">
    <app-product
      [product]="prod"
      *ngIf="searchText === '' || prod.name.toLowerCase().includes(searchText)"
      (click)="selectedProduct = prod"
    ></app-product>
  </ng-container>
</div>
